datasets
sentence-transformers
transformers
farasapy==0.0.14
fuzzysearch==0.7.3
gdown==4.4.0
xmltodict==0.13.0
PyArabic==0.6.15
ujson==5.7.0
evaluate
disjoint-set
tabulate
certifi==2021.10.8
charset-normalizer==2.0.11
idna==3.3
snowballstemmer==2.0.0
Arabic-Stopwords==0.3
pytrec-eval==0.5
accelerate
faiss-gpu